

{{#if success_msg }}
<div class="alert alert-success">{{success_msg}}</div>

{{/if}}

{{#if error_msg }}

<div class="alert alert-danger text-center " >{{error_msg}}</div>

{{/if}}

{{#if error_msg_creditos }}

<div class="alert alert-danger text-center text-white bg-danger" >{{error_msg_creditos}}</div>

{{/if}}

{{#if error}}
    <div class="alert alert-danger text-center">{{error}}</div>
{{/if}}