<div class="p-4">

    <div class="card shadow mb-2  rounded-top border border-dark">
        <div class="card-header text-white bg-dark">
            <h5>Informações do Usuário</h5>
        </div>
        <div class="card-body">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <p>
                           <strong>Nome :</strong>  {{user.nome}}
                        </p>
                    </div>
                  
                </div>
        </div>


    </div>
</div>
</div>
</div>